@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/iosevka-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Iosevka", sans-serif;
    background-color: var(--base);
}

body {
    width: 100%;
    height: 100vh;
}

html {
    font-size: 60%;
}

li {
    padding: 5px;
    font-size: 17px;
}

p {
    color: var(--text);
    font-size: 16px;
    padding: 6px;
    line-height: 1.4;
    height: 5em;
    overflow: auto;
}

b {
    color: var(--foam);
}

h1 {
    color: var(--pine);
}

h2 {
    padding: 3px;
    font-size: 17px;
    color: var(--pine);
}

a h2:hover {
    color: var(--foam);
}

h3 {
    color: var(--pine);
}

h4 {
    font-size: 22px;
    color: var(--pine);
    margin-top: 10px;
}

header {
    margin-top: 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    font-size: 1.7rem;
    color: var(--text);
    margin: 1.5rem;
    transition: 0.2s ease;
    border-bottom: 1px solid transparent;
}

nav a:hover,
nav a.active {
    color: var(--foam);
    border-bottom: 1px solid var(--foam);
}

/* id */
#topBtn {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--base);
    border: 1px solid var(--foam);
    color: var(--foam);
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
}

/* classes */
.row {
    height: auto;
    border: 1px solid var(--foam);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--highlightMed);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlightHigh);
}

.row,
.row > .column {
    padding: 8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

.content {
    background-color: var(--overlay);
    padding: 10px;
}

.content video {
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.gallery {
    padding: 5rem 9% 5rem;
}

.social-icons a {
    display: inline-flex;
    font-size: 2.4rem;
    margin: 3rem 1.5rem 3rem 0;
    color: var(--text);
    transition: color 0.2s ease-out;
}

@media(hover: hover) and (pointer: fine) {
    .social-icons a:hover {
        color: var(--highlightMed);
    }
}

.typing-text {
    font-size: 34px;
    min-width: 310px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software developer";
    color: var(--foam);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    height: 100%;
    border-left: 3px solid var(--base);
    animation: cursor 1.3s infinite;
}

.bio-box {
    border: 1px solid var(--foam);
    padding: 40px;
    width: 800px;
}

.bio-description {
    font-size: 17px;
    padding: 4px;
    height: 100%;
}

.inner-box {
    border: 1px solid var(--foam);
    padding: 50px;
}

.inner-box ul {
    color: var(--text);
    font-size: 1.6rem;
    padding: 10px;
}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.logo {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    color: var(--pine);
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.title h1 {
    font-size: 6rem;
    line-height: 1.3;
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--text);
    }
}

@keyframes words {
    0%,
    33.33% {
        content: "full-stack developer";
    }
    33.34%,
    63.33% {
        content: "dev-ops engineer";
    }
    63.34%,
    100% {
        content: "software developer";
    }
}

@media screen and (max-width: 1500px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .outer-box {
        margin: 5rem 1rem;
        min-height: 0px;
    }

    .gallery {
        margin: 5rem 1rem;
        min-height: 0px;
    }

    video source {
        width: 70vw;
        margin-top: 4rem;
    }

    nav {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;
        flex-wrap: wrap;
        justify-content: center;
        top: 100%;
        width: 100%;
    }

    nav a {
        margin:  10px;
    }
}
