@font-face {
  font-family: "Iosevka";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/iosevka-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Iosevka", sans-serif;
  background-color: var(--base);
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 60%;
}

ul li {
  padding: 4px;
  font-size: 16px;
}

p {
  color: var(--text);
  font-size: 1.6rem;
  padding: 6px;
  line-height: 1.4;
  height: 5em;
  overflow: auto;
}

h4 {
  font-size: 22px;
  color: var(--pine);
  margin-bottom: 5px;
}

h1 {
  color: var(--pine);
}

h2 {
  padding: 3px;
  font-size: 15px;
  color: var(--pine);
}

h3 {
  color: var(--pine)
}

header {
  margin-top: 20px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  font-size: 1.8rem;
  color: var(--text);
  margin-left: 4rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: var(--foam);
  border-bottom: 3px solid var(--foam);
}

/*classes*/
.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.row {
  height: auto;
  border: 1px solid var(--foam);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--highlightMed);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlightHigh);
}

.row, .row > .column {
  padding: 8px;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.content {
  background-color: var(--overlay);
  padding: 10px;
}

.content img{
  overflow-y: scroll;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.gallery {
  min-height: 100vh;
  padding: 10rem 9% 5rem;
}

.social-icons a {
  display: inline-flex;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  color: var(--text);
}

.typing-text {
  font-size: 34px;
  min-width: 310px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "software developer";
  color: var(--foam);
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 3px solid var(--base);
  animation: cursor 1.3s infinite;
}

.about-box{
  border-width: 1px;
  border-style: solid;
  padding: 40px;
  color: var(--foam);
}

.about-description {
  font-size: 16px;
  padding: 4px;
  height: 100%;
}

.box {
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  color: var(--foam);
}

.box ul {
  color: var(--text);
  font-size: 1.6rem;
  padding: 40px;
}

.about-me {
  width: 50%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5rem 9% 5rem;

}

.logo {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: var(--pine);
  cursor: pointer;
}

.home .home-content h1 {
  font-size: 6rem;
  line-height: 1.3;
}

@media (max-width: 995px) {
  nav {
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    width: 30%;
    background-color: var(--overlay);
  }

  nav .active {
    display: block;
    background-color: var(--overlay);
  }

  nav a {
    display: block;
    margin: 2rem 0;
    padding-left: 20px;
    background-color: var(--overlay);
  }
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--text);
  }
}

@keyframes words {
  0%,
  30% {
    content: "web developer";
  }
  31%,
  60% {
    content: "software developer";
  }
  90%,
  100% {
    content: "dev-ops engineer";
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4em;
  }
}


@media screen and (max-width:900px) {
  .column {
    width: 50%;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about-box {
    width: 130%;
  }
}
