@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: white;
  background-image: radial-gradient(var(--overlay) 1px, transparent 0px);
  background-size: 5px 5px;
  background-color: var(--base);
}

html {
  font-size: 60%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

li {
  padding: 5px;
}

ul {
  color: var(--text);
}

b {
  color: var(--foam);
}

h1 {
  color: var(--pine);
}

h2 {
  padding: 3px;
  font-size: 1.5rem;
  color: var(--subtle);
  text-align: center;
}

h3 {
  color: var(--pine);
}

h4 {
  font-size: 2rem;
  color: var(--pine);
}

header {
  background-color: var(--base);
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1.5rem;
  z-index: 9999;
  border-bottom: 1px solid var(--foam);
}

.projects-section,
.coursework-section {
  padding-top: 20px;
}

.coursework-section,
.projects-section,
.education-section li {
  font-size: 1.6rem;
}

.inner-box li {
  font-size: 1.6rem;
}

.form-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 13% 7%;
}

#form-status {
  width: 100%;
  height: 20px;
  font-size: 1.5rem;
  padding-left: 10px;
  color: var(--rose);
}

.form-container {
  border: 1px solid var(--highlightMed);
  background-color: var(--highlightLow);
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  width: 800px;
}

.form-label {
  color: var(--text);
  font-size: 1.5rem;
}

.input-group input {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: var(--text);
  background-color: var(--highlightMed);
}

.input-group textarea {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 150px;
  color: var(--text);
  background-color: var(--highlightMed);
}

.btn {
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  color: var(--text);
  font-size: 1.5rem;
  background-color: var(--highlightHigh);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    cursor: pointer;
    background-color: var(--highlightMed);
  }
}

.form-group {
  padding: 10px;
}

.nav-item {
  list-style: none;
  padding: 8px;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.navbar .nav-link {
  color: var(--text);
  font-size: 1.7rem;
  margin: 1.3em;
  transition: color 0.5s ease-out;
}

.navbar .nav-link:hover,
.navbar .nav-link.active,
.navbar .nav-link:focus {
  color: var(--foam);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text);
}

.row {
  height: auto;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--highlightMed);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlightHigh);
}

.row,
.row > .column {
  padding: 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.333%;
}

.content {
  background-color: var(--highlightLow);
  border: 1px solid var(--highlightMed);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 315px;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .content img:hover {
    transform: scale(1.1);
  }
}

.content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .content video:hover {
    transform: scale(1.1);
  }
}

.gallery {
  padding: 11% 6%;
  width: 100%;
}

.social-icons a {
  display: inline-flex;
  font-size: 2.5rem;
  margin: 3rem 1.6rem 3rem 0;
  color: var(--text);
  transition: color 0.5s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .social-icons a:hover {
    color: var(--rose);
  }
}

.typing-text {
  font-size: 3.3rem;
  min-width: 310px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "software developer";
  color: var(--foam);
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  height: 100%;
  border-left: 3px solid var(--base);
  animation: cursor 1.3s infinite;
}

.bio-box {
  border: 1px solid var(--highlightMed);
  background-color: var(--highlightLow);
  border-radius: 10px;
  padding: 40px;
  width: 800px;
}

.bio-description {
  font-size: 1.6rem;
  color: var(--text);
  height: 100%;
}

.inner-box {
  border: 1px solid var(--highlightMed);
  border-radius: 10px;
  background-color: var(--highlightLow);
  padding: 50px;
}

.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 13% 7%;
}

.logo {
  font-size: 3.5rem;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: var(--pine);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15% 8%;
}

.title h1 {
  font-size: 6.5rem;
  line-height: 1.3;
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--text);
  }
}

@keyframes words {
  0%,
  33.33% {
    content: "full-stack developer";
  }
  33.34%,
  63.33% {
    content: "dev-ops engineer";
  }
  63.34%,
  100% {
    content: "software developer";
  }
}

@media screen and (max-width: 1500px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .outer-box {
    margin: 5rem 0rem;
    padding: 60px 30px;
    min-height: 0px;
  }

  .form-body {
    margin: 5rem 0rem;
    padding: 60px 30px;
    min-height: 0px;
  }

  .gallery {
    margin: 5rem 0rem;
    padding: 40px 10px;
    min-height: 0px;
  }

  .title {
    margin: 5rem 0rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    top: 70px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: var(--base);
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-menu.active {
    left: 0;
  }
}
