@font-face {
  font-family: "Wotfard";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/wotfard-regular-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Wotfard", sans-serif;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--base);
  z-index: 998;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

main {
  flex: 1;
  opacity: 0;
  animation: fadeIn 1s forwards;
  z-index: 998;
}

html {
  font-size: 60%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

li {
  padding: 5px;
}

ul {
  color: var(--text);
}

b {
  color: var(--foam);
}

h1 {
  color: var(--pine);
}

h3 {
  color: var(--pine);
}

h4 {
  font-size: 2.2rem;
  color: var(--pine);
}

header {
  background-color: var(--base);
  position: fixed;
  top: 0px;
  width: 100vw;
  padding: 1.5rem;
  z-index: 999;
  border-bottom: 1px solid var(--foam);
}

.overlay {
  background-color: blue;
  z-index: 99999;
}

.projects-section,
.coursework-section {
  padding-top: 20px;
}

.coursework-section,
.projects-section,
.education-section li {
  font-size: 1.6rem;
}

.inner-box li {
  font-size: 1.8rem;
}

.form-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 13% 7%;
}

#form-status {
  width: 100%;
  height: 20px;
  font-size: 1.5rem;
  padding-left: 10px;
  color: var(--rose);
}

.form-container {
  background-color: var(--surface);
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  width: 800px;
}

.form-label {
  color: var(--text);
  font-size: 1.8rem;
}

.input-group input {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  color: var(--text);
  background-color: var(--overlay);
}

.input-group textarea {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  resize: none;
  width: 100%;
  height: 150px;
  color: var(--text);
  background-color: var(--overlay);
}

.btn {
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  color: var(--text);
  font-size: 1.6rem;
  background-color: var(--pine);
  transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    cursor: pointer;
    color: var(--subtle);
    background-color: #286983;
  }
}

.form-group {
  padding: 10px;
}

.nav-item {
  list-style: none;
  padding: 10px;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 24px;
  z-index: 999;
}

.nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.navbar .nav-link {
  color: var(--text);
  font-size: 1.8rem;
  margin: 0.5rem;
  z-index: 999;
  transition: all 0.3s ease-out;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  background-color: var(--overlay);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text);
}

.footer {
  width: 100%;
}

.footer-container {
  list-style: none;
  text-align: center;
  background-color: var(--base);
  border-top: 1px solid var(--overlay);
}

.footer-link {
  color: var(--text);
}

.footer-name {
  color: var(--muted);
  font-size: 1.8rem;
  padding: 0rem 0rem 1.5rem 0rem;
}

.social-icons a {
  display: inline-flex;
  font-size: 2.7rem;
  padding: 1.5rem 1rem 2rem 1rem;
  color: var(--muted);
  transition: color 0.5s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .social-icons a:hover {
    color: var(--text);
  }
}

.row {
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--highlightMed);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlightHigh);
}

.row,
.row > .column {
  padding: 15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.333%;
}

.content {
  background-color: var(--surface);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 300px;
}

.proj-title-container {
  width: 100%;
  height: 30px;
  margin: 2px;
  position: absolute;
  background-color: var(--surface);
}

.proj-title {
  text-align: center;
  color: var(--subtle);
  font-size: 1.6rem;
}

.content img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.overlay {
  position: absolute;
}

@media (hover: hover) and (pointer: fine) {
  .content img:hover {
    transform: scale(1.1);
  }
}

.content video {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: transform 0.5s ease;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .content video:hover {
    transform: scale(1.1);
  }
}

.gallery {
  padding: 11% 10%;
  width: 100%;
}

.typing-text {
  font-size: 3.4rem;
  min-width: 310px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "software developer";
  color: var(--foam);
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  height: 100%;
  border-left: 3px solid var(--base);
  animation: cursor 1.3s infinite;
}

.bio-box {
  background-color: var(--surface);
  border-radius: 10px;
  padding: 40px;
  width: 800px;
}

.bio-description {
  font-size: 1.8rem;
  color: var(--text);
  height: 100%;
  padding-top: 5px;
}

.inner-box {
  border-radius: 10px;
  background-color: var(--surface);
  padding: 50px;
}

.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 13% 7%;
}

.logo {
  font-size: 3.3rem;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: var(--pine);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15% 8%;
}

.title h1 {
  font-size: 6.5rem;
  line-height: 1.3;
}

.link-container {
  display: flex;
}

.links {
  color: var(--subtle);
  margin: 10px 20px 0px 0px;
  font-size: 1.5rem;
  background-color: var(--overlay);
  padding: 5px 12px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .links:hover {
    color: var(--text);
    background-color: var(--highlightMed);
  }
}

.contact-link-title {
  font-size: 1.6rem;
  padding: 10px 0px 0px 0px;
}

.hr-text {
  border: 0;
  line-height: 1em;
  position: relative;
  outline: 0;
  padding: 0px 0px 0px 0px;
  color: var(--subtle);
  text-align: center;
  opacity: 0.5;
  font-size: 14px;
  &:before {
    content: "";
    background: linear-gradient(
      to right,
      transparent,
      var(--subtle),
      transparent
    );
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
  }
  &:after {
    content: attr(none);
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: var(--subtle);
    background-color: var(--overlay);
  }
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--text);
  }
}

@keyframes words {
  0%,
  33.33% {
    content: "full-stack developer";
  }
  33.34%,
  63.33% {
    content: "dev-ops engineer";
  }
  63.34%,
  100% {
    content: "software developer";
  }
}

@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .outer-box {
    margin: 5rem 0rem;
    padding: 60px 30px;
    min-height: 0px;
  }

  .form-body {
    margin: 5rem 0rem;
    padding: 60px 30px;
    min-height: 0px;
  }

  .gallery {
    margin: 5rem 0rem;
    padding: 40px 10px;
    min-height: 0px;
  }

  .title {
    margin: 5rem 0rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    top: 70px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: var(--base);
  }

  .navbar {
    justify-content: space-between;
  }

  .footer {
    position: sticky;
  }

  .nav-menu.active {
    left: 0;
  }
}
